/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
* What follows is the result of much research on cross-browser styling.
* Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
* Kroc Camen, and the H5BP dev community and team.
*/

/* ==========================================================================
Base styles: opinionated defaults
========================================================================== */

html {
color: #222;
font-size: 1em;
line-height: 1.4;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* These selection rule sets have to be separate.
* Customize the background color to match your design.
*/

::-moz-selection {
background: #b3d4fc;
text-shadow: none;
}

::selection {
background: #b3d4fc;
text-shadow: none;
}

/*
* A better looking default horizontal rule
*/

hr {
display: block;
height: 1px;
border: 0;
border-top: 1px solid #ccc;
margin: 1em 0;
padding: 0;
}

/*
* Remove the gap between audio, canvas, iframes,
* images, videos and the bottom of their containers:
* https://github.com/h5bp/html5-boilerplate/issues/440
*/

audio,
canvas,
iframe,
img,
svg,
video {
vertical-align: middle;
}

/*
* Remove default fieldset styles.
*/

fieldset {
border: 0;
margin: 0;
padding: 0;
}

/*
* Allow only vertical resizing of textareas.
*/

textarea {
resize: vertical;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */

.browserupgrade {
margin: 0.2em 0;
background: #ccc;
color: #000;
padding: 0.2em 0;
}

/* ==========================================================================
Author's custom styles
========================================================================== */
@keyframes fadein {
   from { opacity: 0; }
   to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
   from { opacity: 0; }
   to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
   from { opacity: 0; }
   to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
   from { opacity: 0; }
   to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
   from { opacity: 0; }
   to   { opacity: 1; }
}



body,html {
   background: rgba(4,4,22,1);
   height: 100%;
}

body {
   -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadein 2s; /* Firefox < 16 */
       -ms-animation: fadein 2s; /* Internet Explorer */
        -o-animation: fadein 2s; /* Opera < 12.1 */
           animation: fadein 2s;
}


a {
   text-decoration: none;
}

ul {
   margin: 0;
}

ul li {
   display: inline-block;
   list-style: none;
}

li {
   padding: 0 0 0 20px;
}

h1 {
   font-size: 12px;
   font-family: "good-times", "Good Times", sans-serif;
   font-style: normal;
   font-weight: 500;
   color: #FFF;
   margin: 0;
}

h1.current {
   color: #00FFFF;
}

h1 span {
   font-style: italic;
   opacity: .5;
}

h2 {
   font-size: 24px;
   font-family: "good-times", "Good Times", sans-serif;
   font-style: normal;
   font-weight: 400;
   color: #FFF;
   padding: 0 0 1% 0;
   margin: 0;
}

h2 span {
   opacity: .5;
}

h3 {
   font-size: 26px;
   font-family: "good-times", "Good Times", sans-serif;
   font-weight: 300;
   color: #FFF;
   margin: 0 0 2% 0;
}

h4 {
   font-family: "good-times", "Good Times", sans-serif;
   font-weight: 300;
   color: #FFF;
   margin: 0;
}

h4 span {
   opacity: .6;
}

h5 {
   font-family: "proxima-nova", sans-serif;
   font-style: normal;
   font-weight: 400;
   color: #FFF;
   margin: 0;
   opacity: .5;
}

p {
   line-height: 40px;
   color: rgba(255,255,255,.6);
   margin: 5px 0 0 0;
   font-size: 18px;
   font-weight: 100;
   font-family: "proxima-nova", sans-serif;
   font-style: normal;
   font-weight: 300;
}

p span {
   font-size: 22px;
   color: rgba(255,255,255,1);
}

.fader {
  -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 4s; /* Firefox < 16 */
  -ms-animation: fadein 4s; /* Internet Explorer */
  -o-animation: fadein 4s; /* Opera < 12.1 */
  animation: fadein 4s;
}




/* ==========================================================================
SPLASH PAGE
========================================================================== */
.splash-top {
   position: fixed;
   padding: 20px 25px;
   z-index: 2;
}

.splash-mid {
 display:flex;
 justify-content:center;
 align-items:center;
 width:100%;
 height:100%;
}

.splash-mid img {
   -webkit-transform: translate(0px, 15px);
   -ms-transform: translate(0px, 15px);
   transform: translate(0px, 15px);
   -webkit-transition: all .5s ease-in-out;
   transition: all .5s ease-in-out;
   -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 3s; /* Firefox < 16 */
   -ms-animation: fadein 3s; /* Internet Explorer */
   -o-animation: fadein 3s; /* Opera < 12.1 */
   animation: fadein 3s;
   z-index: 1;
   max-height: 100%;
   max-width: 100%;
}

.splash-mid img:hover {
-webkit-transform: translate(0px, 0px);
   -ms-transform: translate(0px, 0px);
   transform: translate(0px, 0px);
}






/* ==========================================================================
NAVIGATION
========================================================================== */

.navigation {
   position: fixed;
   bottom: 0;
   right: 0;
   left: 0;
   padding: 20px 25px 20px 20px;
   text-align: right;
   background: rgba(4,4,22,.9);
   z-index: 2;
}

.noBg {
 background: none;
}


.navigation h1 {
   transition: .5s all;
}

.navigation h1:hover {
   color: #00FFFF;
}

.navigation-clear h1 {
   transition: all .5s;
}

.navigation-clear h1:hover {
   color: #00FFFF;
}

.logo{
   position: fixed;
   left: 0;
   bottom: 0;
   padding: 20px;
   width: 40px;
   min-width: 25px;
}

.break-bottom {
   padding-top: 20%;
   width: 100%;
   float: left;
}




/* ==========================================================================
DESIGN GRID
========================================================================== */

.toolbar {
 padding: 8px 0px 10px 10px;
}

.filter-btn {
 font-size: 10px;
 font-family: "good-times", "Good Times", sans-serif;
 font-style: normal;
 font-weight: 500;
 color: #FFF;
 margin: 0;
 padding: 0 5px;
 transition: all .5s ease;
}

.filter-btn:hover {
 color: #00FFFF;
}

button{
 margin      : 0;
 padding     : 0;
 border      : 0;
 background  : transparent;
 font-family : inherit;
 font-size   : 1em;
 cursor      : pointer;
}

button::-moz-focus-inner{
 padding : 0;
 border  : 0;
}

button:focus {
 outline:0;
}

.active {
 color: #00FFFF;
}

.designs {
   width: 100%;
   text-align: center;
   z-index: 3;
   transition: all .5s ease-in-out;
}

li.design {
   padding: 0;
   transition: all .5s ease-in-out;
}

.design {
 -webkit-transform: translate(3000px, 0px);
   transform: translate(3000px, 0px);
   -webkit-transition: all .3s ease-in-out;
   transition: all .3s ease-in-out;
}

figure , figcaption {
   display: block;
   margin: 0;
}

.designs ul {
   margin: 0;
   padding: 0;
   width: 100%;
}

.designs ul li {
   float: left;
   min-height: 100%;
   width: 25%;
   list-style: none;
   transition: all .3s ease-in-out;
}

.scale-anm {
 transform: translate(0px, 0px);
}



.designs figure {
   position: relative;
   overflow: hidden;
}

.designs figure img {
   width: 100%;
   height: 100%;
   -webkit-transition: all 300ms ease-in-out;
   transition: all 300ms ease-in-out;
   -webkit-filter: grayscale(100%);
   -webkit-transition: .3s ease-in-out;
   -moz-filter: grayscale(100%);
   -moz-transition: .3s ease-in-out;
   -o-filter: grayscale(100%);
   -o-transition: .3s ease-in-out;
   opacity: .8;

}


.designs figure:hover img, .designs figure:focus img {
   -webkit-transform: scale(1.1);
   -ms-transform: scale(1.1);
   transform: scale(1.1);
   opacity: .2;

   -webkit-filter: grayscale(0%);
   -webkit-transition: .3s ease-in-out;
   -moz-filter: grayscale(0%);
   -moz-transition: .3s ease-in-out;
   -o-filter: grayscale(0%);
   -o-transition: .3s ease-in-out;
}

.designs figcaption {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   text-align: center;
   font-size: 15px;
   opacity: 0;
   vertical-align: middle;
   -webkit-transition: all 300ms ease-in-out;
   transition: all 300ms ease-in-out;
}

.designs figcaption a {
   color: #fff
}
.designs figcaption a:hover, .designs figcaption a:focus {
  color: #73d0da
}

.designs figure:hover figcaption, .designs figure:focus figcaption {
   opacity: 1
}
.visible {
   opacity: 1
}

.designs figure.cs-hover figcaption {
   opacity: 1
}

.designs figcaption i {
   font-size: 35px
}

.designs figcaption p {
   margin-bottom: 30px;
   line-height: 5px;
}

.designs figcaption .caption-content {
   position: absolute;
   top: 55%;
   left: 50%;
   margin-top: -70px;
   margin-left: -100px;
   width: 200px;
   -webkit-transform: translate(0px, 15px);
   -ms-transform: translate(0px, 15px);
   transform: translate(0px, 15px);
   -webkit-transition: all 300ms ease-in-out;
   transition: all 300ms ease-in-out;
}

.designs figure:hover figcaption .caption-content, .designs figure:focus figcaption .caption-content {
   -webkit-transform: translate(0px, 0px);
   -ms-transform: translate(0px, 0px);
   transform: translate(0px, 0px);
}

p.view {
   font-style: italic;
   font-size: 13px;
   margin-top: 20%;
   transition: all .6s ease;
}

.view:before, .view:after {
   position: absolute;

   width: 7%;
   height: 1px;
   content: '\a0';
   background-color: #FFF;
}

.view:before {
   margin-left: -14%;
   text-align: right;
}

.view:after {
   margin: 0 10%;
}

h6.title {
   font-size: 20px;
   font-family: "good-times", "Good Times", sans-serif;
   padding-bottom: 10px;
   font-weight: 300;
   color: #FFF;
   margin: 0;
}

.type {
  line-height: 18px !important;
  font-size: 15px;
}


/* ==========================================================================
ABOUT PAGE
========================================================================== */
body:after{
   display:none;
   content: url(../img/about/blur.jpg);
}


.design-single-splash-about {
     background: url(../img/about/blur.jpg)no-repeat center bottom;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   box-shadow: inset 0 -1px 5px rgba(0, 0, 0, .1);
}

.about {
 padding-bottom: 0 !important;
}

.resume {
 transition: .5s all;
 font-size: 20px;
 margin: 10%;
 font-family: "good-times", "Good Times", sans-serif;
 font-style: normal;
 font-weight: 500;
 color: #FFF;
}

.resume:hover {
 color: #00FFFF;
}

.connect {
   transition: all .5s;
   color: #FFF;
}

.connect:hover {
   color: #00FFFF;
}



.social img {
   width: 15%;
   max-width: 120px;
   padding: 0 2% 0 0;
   transition: opacity 1s;
}

.social img:hover {
   opacity: .2;
}



/* ==========================================================================
Design - Single - Styles
========================================================================== */

.design-single-style h4 {
  font-family: "good-times", "Good Times", sans-serif;
  font-weight: 300;
  margin: 0 0 2% 0;
}

.design-single-style h3 {
   font-size: 26px;
   font-family: "good-times", "Good Times", sans-serif;
   font-weight: 300;
   margin: 0 0 2% 0;
}

.design-single-style h4 {
   font-family: "good-times", "Good Times", sans-serif;
   font-weight: 300;
   margin: 0;
}

.design-single-style h4 span {
   opacity: .6;
}

.design-single-style h5 {
   font-family: "proxima-nova", sans-serif;
   font-style: normal;
   font-weight: 400;
   margin: 0;
   opacity: .5;
}

.design-single-style p {
   line-height: 40px;
   margin: 5px 0 0 0;
   font-size: 18px;
   font-weight: 100;
   font-family: "proxima-nova", sans-serif;
   font-style: normal;
   font-weight: 300;
}

.design-single-style p span {
   font-size: 18px;
   font-weight: 500;
}

.design-single-style a {
   font-size: 25px;
   transition: 1s color;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


/* ==========================================================================
VIDENO
========================================================================== */
.videno {
   background: #2CA8A5;
}

.videno2 {
   background: #1E2833;
}

.videno-bg {
   background: url(../../img/Videno/Videno-BG.jpg);
   background-size: cover;
   padding: 10% 0;
}

.design-single-splash-videno {
   background: url(../../img/Videno/Videno-Splash.jpg)no-repeat center top;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   box-shadow: inset 0 -1px 5px rgba(0, 0, 0, .1);
}




/* ==========================================================================
UURAF
========================================================================== */
.uuraf {
   background: #073256;
}


.design-single-splash-uuraf {
   background: url(../../img/UURAF/UURAF-Splash.jpg) no-repeat center top;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   box-shadow: inset 0 -1px 5px rgba(0, 0, 0, .1);
}



/* ==========================================================================
MISC CSS PORTFOLIO STYLES
========================================================================== */
.border {
   -webkit-box-shadow: 2px 2px 3px -1px rgba(0,0,0,0.39);
   -moz-box-shadow: 2px 2px 3px -1px rgba(0,0,0,0.39);
   box-shadow: 2px 2px 3px -1px rgba(0,0,0,0.39);
}

.img-shadow {
	position: relative;
	max-width: 100%;
	display: block;  
	}

   .img-shadow::before {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		box-shadow: inset 0 0 10px rgba(0,0,0,.1);
		-moz-box-shadow: inset 0 0 10px rgba(0,0,0,.1);
		-webkit-box-shadow: inset 0 0 10px rgba(0,0,0,.1);
	   }

.img-shadow-diffused {
  -webkit-box-shadow: 0px 56px 86px -37px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 56px 86px -37px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 56px 86px -37px rgba(0, 0, 0, 0.3);
}



/* ==========================================================================
LIGHTBOX
========================================================================== */

.lightbox {
	display: none;
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(3,3,16,0.9);
   -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadein 1s; /* Firefox < 16 */
       -ms-animation: fadein 1s; /* Internet Explorer */
        -o-animation: fadein 1s; /* Opera < 12.1 */
           animation: fadein 1s;
}

.lightbox img {
   max-width: 100%;
   max-height: 100%;
   bottom: 0;
   left: 0;
   margin: auto;
   overflow: auto;
   position: fixed;
   right: 0;
   top: 0;
}

.lightbox:target {
	outline: none;
	display: block;

}




/* ==========================================================================
MEDIA QUERIES
========================================================================== */

/* ==========================================================================
SMARTPHONES
========================================================================== */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

h1 {
   font-size: 10px;
}

li {
   padding: 0 12px;
}

.navigation-clear {
   position: absolute;
   bottom: 0;
   padding: 20px 0;
   width: 100%;
   text-align: right;
}

.navigation {
   position: fixed;
   bottom: 0;
   padding: 20px 0;
   width: 100%;
   text-align: right;
}

.logo-small {
   padding: 20px;
   }

.space {
   background: #040416;
}

.splash-mid{
   margin: auto;
   position: fixed;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   height: 200px;
   width: 200px;
}

.splash-mid img {
 height: 200px;
 width: 200px;
}

p {
   line-height: 30px;
}

p span {
       font-size: 20px;
   }

.content.design-single {
   padding: 3%;
}

.content.design-single.head {
   padding: 3%;
}

figcaption {
   display: none;
}

}



/* ==========================================================================
TABLETS
========================================================================== */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {

.space {
   background: #040416;
}
}



/* ==========================================================================
300-768
========================================================================== */
@media only screen
and (min-width : 300px) {


.designs ul li{
   width: 50%;
}

.content {
   padding: 10% 3% 0 3%;
}

.content.design-single {
   padding: 10%;
}

.content.design-single.under-image {
   padding: 3%;
}

.content.design-single.image {
   padding: 12% 3% 3% 3%;
}

.content.design-single.head {
   padding: 10%;
}

h4 {
   font-size: 30px;
}

h4 span {
   font-size: 18px;
}

h5 {
   padding-top: 2%;
   font-size: 15px;
}

.design-single-media img {
   width: 80%;
   margin: 0 10%;
   padding: 0;
}

.design-single-media img.wide {
   width: 100%;
   margin: 0;
}

.design-single-media img.cushion {
   width: 94%;
   margin: 3%;
   padding: 0;
}

.design-single-media img.cushion-mid {
   width: 94%;
   margin: 0 3% 3% 3%;
   padding: 0;
}

.caption {
   padding: 0 3% 3% 3%;
   font-size: 14px;
}

div.break {
   padding-top: 6%;
}

div.break-big {
  padding-top: 6%;
}

.break.head {
   padding-top: 15%;
   }

}





/* ==========================================================================
768-1500
========================================================================== */
@media only screen
and (min-width : 768px) {

.designs ul li{
   width: 25%;
}

.content {
  padding: 10% 40% 0 10%;
}

.content.design-single {
   padding: 10%;
}

.content.design-single.under-image {
   padding: 4%;
}

.content.design-single.image {
   padding: 10% 3% 3% 3%;
}

.content.design-single.head {
   padding: 10%;
}

h4 {
   font-size: 40px;
}

h4 span {
   font-size: 25px;
}

h5 {
   padding-top: 2%;
   font-size: 20px;
}

.design-single-media img {
   width: 80%;
   margin: 0 0 0 10%;
}

.design-single-media img.wide {
   width: 100%;
   margin: 0;
}

.design-single-media img.cushion {
   width: 94%;
   margin: 3%;
   padding: 0;
}

.design-single-media img.cushion-mid {
   width: 94%;
   margin: 0 3% 3% 3%;
   padding: 0;
}

.caption {
   padding: 0 0% 2% 3%;
   font-size: 18px;
}

div.break {
   padding-top: 6%;
}

div.break-big {
  padding-top: 6%;
}
}


/* ==========================================================================
1500+
========================================================================== */
@media only screen
and (min-width : 1500px) {

.designs ul li{
   width: 20%;

}

.content {
   padding: 10% 30% 0 10%;
}

.content.design-single {
   padding: 10% 30% 10% 10%;
}

.content.design-single.under-image {
   padding: 3% 30% 3% 10%;
}

.content.design-single.image {
   padding: 10% 30% 3% 10%;
}

.content.design-single.head {
   padding: 10% 30% 10% 10%;
}

.design-single-media img {
   width: 80%;
   margin: 0 0 0 10%;
}

.design-single-media img.wide {
   width: 100%;
   margin: 0;
}

.design-single-media img.cushion {
   width: 94%;
   margin: 3%;
   padding: 0;
}

.design-single-media img.cushion-mid {
   width: 94%;
   margin: 0 3% 3% 3%;
   padding: 0;
}

h4 {
   font-size: 50px;
}

h4 span {
   font-size: 30px;
}

h5 {
   padding-top: 2%;
   font-size: 20px;
}

.caption {
   padding: 0 30% 2% 10%;
   font-size: 18px;
}


div.break {
   padding-top: 6%;
}

div.break-big {
  padding-top: 20%;
}
}

/* ==========================================================================
Helper classes
========================================================================== */

/*
* Hide visually and from screen readers
*/

.hidden {
display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*/

.visuallyhidden {
border: 0;
clip: rect(0 0 0 0);
height: 1px;
margin: -1px;
overflow: hidden;
padding: 0;
position: absolute;
width: 1px;
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
clip: auto;
height: auto;
margin: 0;
overflow: visible;
position: static;
width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
content: " "; /* 1 */
display: table; /* 2 */
}

.clearfix:after {
clear: both;
}

/* ==========================================================================
EXAMPLE Media Queries for Responsive Design.
These examples override the primary ('mobile first') styles.
Modify as content requires.
========================================================================== */

@media only screen and (min-width: 35em) {
/* Style adjustments for viewports that meet the condition */
}

@media print,
   (-webkit-min-device-pixel-ratio: 1.25),
   (min-resolution: 1.25dppx),
   (min-resolution: 120dpi) {
/* Style adjustments for high resolution devices */
}

/* ==========================================================================
Print styles.
Inlined to avoid the additional HTTP request:
http://www.phpied.com/delay-loading-your-print-css/
========================================================================== */

@media print {
*,
*:before,
*:after,
*:first-letter,
*:first-line {
    background: transparent !important;
    color: #000 !important; /* Black prints faster:
                               http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
}

a,
a:visited {
    text-decoration: underline;
}

a[href]:after {
    content: " (" attr(href) ")";
}

abbr[title]:after {
    content: " (" attr(title) ")";
}

/*
 * Don't show links that are fragment identifiers,
 * or use the `javascript:` pseudo protocol
 */

a[href^="#"]:after,
a[href^="javascript:"]:after {
    content: "";
}

pre,
blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
}

/*
 * Printing Tables:
 * http://css-discuss.incutio.com/wiki/Printing_Tables
 */

thead {
    display: table-header-group;
}

tr,
img {
    page-break-inside: avoid;
}

img {
    max-width: 100% !important;
}

p,
h2,
h3 {
    orphans: 3;
    widows: 3;
}

h2,
h3 {
    page-break-after: avoid;
}
}
