.about a {
	margin: 0;
}

.me {
	margin-bottom: 2em;
	position: relative;
	transition: all .2s ease-out;
	z-index: 1;
	opacity: .9;
}

.me:hover {
	transform: scale(1.03,1.03);
	z-index: 2;
	opacity: 1;
}

.me img {
	max-height: 250px;
	opacity: .9;
	object-fit: cover;
	object-position: 10% 20%;
	width: 100%;
}

.overlay {
	background-color: rgba(1,0,41,1);
	height: 100%;
	mix-blend-mode: color;
	position: absolute;
	transition: all .2s ease-out;
	width: 100%;
	z-index: 3;
}

.overlay:hover{
	background-color: rgba(1,0,41,0);
}

.img-wrap {
	display: block;
}