.bg-top {
	position: absolute;
	left: 0;
	top: -100px;
	right: 0;
	z-index: -1;
	overflow: hidden;
	will-change: transform;
}

.bg-top img {
	height: auto;
	width: 105%;
	overflow: hidden;
}

/* ==========================================================================
   bg-top Animation
   ========================================================================== 

.bg-top {
  animation: MoveUpDown 10s ease infinite;
  transform: translateZ(0);
}

@keyframes MoveUpDown {
  0% {
    transform: scaleX(1) scaleY(1);
  }
  50% {
    transform: scaleX(1.5) scaleY(1.5);
  }
  100% {
    transform: scaleX(1) scaleY(1);
  }
}

/* ==========================================================================
   bg-bottom
   ========================================================================== */

.bg-bottom {
	left: 0;
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: -2;
	overflow: hidden;
	will-change: transform;
}

.bg-bottom img {
	height: auto;
	width: 120%;
	overflow: hidden;
}

/* ==========================================================================
   bg-bottom Animation
   ========================================================================== 

.bg-bottom {
  animation: MoveDownUp 30s ease infinite;
  transform-origin: right bottom;
  transform: translateZ(0);
}

@keyframes MoveDownUp {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(150px);
  }
  100% {
    transform: translateY(0);
  }
}

/* ==========================================================================
   Blobs!
   ========================================================================== */

.blob-frame {
	overflow: hidden;
	height: 100%;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.blob {
	opacity: .5;
	position: absolute;
	left: -100vw;
	background: #1B2A52;
	width: 150vw;
	height: 150vw;
	border-radius: 43%;
	animation: blob 25s infinite linear;
	z-index: -1;
	overflow: hidden;
}

.blob.-two {
	opacity: 1;
  animation: blob 30s infinite ease;
  width: 142vw;
  height: 142vw;
}

.blob-bottom {
  opacity: 1;
  position: absolute;
  bottom: -225vw;
  right: -130vw;
  background: #0E1529;
  width: 250vw;
  height: 250vw;
  border-radius: 43%;
  animation: blob 55s infinite ease-in-out;
  z-index: -2;
  overflow: hidden;
}

@keyframes blob {
	from { transform: rotate(0deg) rotateZ(360deg); }
	from { transform: rotate(360deg) rotateZ(360deg); }
}