@font-face {
  font-family: 'Ubuntu-Light';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/ubuntu/ubuntu-light.woff2') format('woff2'),
    url('../fonts/ubuntu/ubuntu-light.woff') format('woff'),
    url('../fonts/ubuntu/ubuntu-light.ttf') format('truetype'),
    url('../fonts/ubuntu/ubuntu-light.svg#ubuntulight') format('svg');
}

@font-face {
  font-family: 'Ubuntu-Light-Italic';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/ubuntu/ubuntu-lightitalic.woff2') format('woff2'),
    url('../fonts/ubuntu/ubuntu-lightitalic.woff') format('woff'),
    url('../fonts/ubuntu/ubuntu-lightitalic.ttf') format('truetype'),
    url('../fonts/ubuntu/ubuntu-lightitalic.svg#ubuntulight_italic') format('svg');
}

@font-face {
  font-family: 'Ubuntu-Medium';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/ubuntu/ubuntu-medium.woff2') format('woff2'),
    url('../fonts/ubuntu/ubuntu-medium.woff') format('woff'),
    url('../fonts/ubuntu/ubuntu-medium.ttf') format('truetype'),
    url('../fonts/ubuntu/ubuntu-medium.svg#ubuntumedium') format('svg');
}

@font-face {
  font-family: 'Ubuntu-Medium-Italic';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/ubuntu/ubuntu-mediumitalic.woff2') format('woff2'),
    url('../fonts/ubuntu/ubuntu-mediumitalic.woff') format('woff'),
    url('../fonts/ubuntu/ubuntu-mediumitalic.ttf') format('truetype'),
    url('../fonts/ubuntu/ubuntu-mediumitalic.svg#ubuntumedium_italic') format('svg');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/ubuntu/ubuntu-regular.woff2') format('woff2'),
    url('../fonts/ubuntu/ubuntu-regular.woff') format('woff'),
    url('../fonts/ubuntu/ubuntu-regular.ttf') format('truetype'),
    url('../fonts/ubuntu/ubuntu-regular.svg#ubunturegular') format('svg');
}

@font-face {
  font-family: 'Ubuntu-Italic';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/ubuntu/ubuntu-italic.woff2') format('woff2'),
    url('../fonts/ubuntu/ubuntu-italic.woff') format('woff'),
    url('../fonts/ubuntu/ubuntu-italic.ttf') format('truetype'),
    url('../fonts/ubuntu/ubuntu-italic.svg#ubuntuitalic') format('svg');
}

@font-face {
    font-family: 'Zelda';
    src: url('../fonts/zelda/zelda.woff2') format('woff2'),
	 url('../fonts/zelda/zelda.woff') format('woff'),
	 url('../fonts/zelda/zelda.ttf') format('truetype'),
	 url('../fonts/zelda/zelda.svg#zeldaregular') format('svg');
}
