footer ul {
	display: -webkit-flex;
	display: flex;
}

footer ul li:first-child {
	margin-right: auto;
}

@media screen and (max-width: 600px){
	footer ul {
		display: block;
	}
	
	footer ul li:nth-last-child(-n+5) {
		display: inline-block;
		margin-top: 60px;
	}
	
	footer ul li:nth-last-child(-n+5) a{
		margin-left: 0;
		margin-right: 30px;
	}
}