html {
	background: #131D38;
	font-family: 'Ubuntu', sans-serif;
	color: #FFF;
}

body {
	margin: 10%;
}

.frame {
	margin: 0 auto;
	max-width: 675px;
}

h1 {
	font-size: 22px;
	line-height: 40px;
}

a {
	font-family: 'Ubuntu-Italic', sans-serif;
}

.link {
	border-bottom: 0px solid #FF3388;
	color: #FFF;
	padding: 0;
	transition: all .2s ease;
}

.link:hover {
	border-bottom: 3px solid #FF3388;
	color: #FF3388;
	padding-bottom: 10px;
}

.link-subActive {
	border-bottom: 3px solid #FF3388;
	color: #FFF;
	margin: 0 40px 0 0;
	padding: 0 0 5px 0;
	transition: all .2s ease;
}

.link-subActive:hover {
	border-bottom: 3px solid #FF3388;
	color: #FF3388;
	padding: 0 0 15px 0;
}


