html {
	background: #0E1529;
	font-family: 'Ubuntu', sans-serif;
	color: #FFF;
}

body {
	height: 100%;
	position: relative;
}

.frame {
	margin: 0 auto;
	max-width: 700px;
	padding: 10%;
}

h1 {
	font-size: 22px;
	line-height: 40px;
}

a {
	font-family: 'Ubuntu-Italic', sans-serif;
}

p {
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	line-height: 36px;
}

.link {
	border-bottom: 3px solid transparent;
	color: #FFF;
	padding: 3px;
	transition: all .2s ease;
}

.link:hover {
	border-bottom: 3px solid #FF3377;
	color: #FF3377;
	padding-bottom: 8px;
}

.link-list {
	border-bottom: 3px solid transparent;
	color: #FFF;
	font-size: 18px;
	margin: 0 -3px 0 30px;
	padding: 3px;
	transition: all .2s ease;
}

.link-list:hover {
	border-bottom: 3px solid #FF3377;
	color: #FF3377;
	padding-bottom: 8px;
}

.link-list.active {
	border-bottom: 3px solid #FF3377;
	color: #FF3377;
	padding-bottom: 5px;
}

.link-action {
	border-bottom: 3px solid #FF3377;
	color: #FFF;
	font-size: 18px;
	margin: 0 40px 0 0;
	padding: 0 3px 5px 3px;
	transition: all .2s ease;
}

.link-action:hover {
	border-bottom: 3px solid #FF3377;
	color: #FF3377;
	padding: 0 3px 10px 3px;
}

.space {
	height: 1000px;
}

