html {
	background: #0E1529;
	font-family: 'Ubuntu', sans-serif;
	color: #FFF;
}

body {
	height: 100%;
	position: relative;
}

.frame {
	margin: 0 auto;
	max-width: 800px;
	padding: 11% 10% 10% 10%;
}

h1 {
	font-family: "bjorn", sans-serif;
	font-size: 40px;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	line-height: 60px;
	word-break: break-all;
}

h2 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 25px;
	line-height: 40px;
}

h3 {
	font-size: 22px;
	line-height: 40px;
}

a {
	font-family: 'Ubuntu-Italic', sans-serif;
}

p {
	font-family: 'Ubuntu', sans-serif;
	font-size: 15px;
	line-height: 30px;
	margin: 0;
}

span {
	font-family: 'Ubuntu-Medium', sans-serif;
	font-size: 18px;
}

span.underline {
	border-bottom: 1px solid rgba(255,255,255,1);
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
}

.link {
	border-bottom: 3px solid transparent;
	color: #FFF;
	padding: 3px;
	transition: all .2s ease;
}

.link:hover {
	border-bottom: 3px solid #FF3377;
	color: #FF3377;
	padding-bottom: 8px;
}

.link-list {
	border-bottom: 3px solid transparent;
	color: #FFF;
	font-size: 18px;
	margin: 0 -3px 0 30px;
	padding: 3px;
	transition: all .2s ease;
}

.link-list:hover {
	border-bottom: 3px solid #FF3377;
	color: #FF3377;
	padding-bottom: 8px;
}

.link-list.active {
	border-bottom: 3px solid #FF3377;
	color: #FF3377;
	padding-bottom: 8px;
}

.link-action {
	border-bottom: 3px solid #FF3377;
	color: #FFF;
	font-size: 18px;
	margin: 0 40px 0 0;
	padding: 0 3px 5px 3px;
	transition: all .2s ease;
}

.link-action:hover {
	border-bottom: 3px solid #FF3377;
	color: #FF3377;
	padding: 0 3px 10px 3px;
}


/* ==========================================================================
   Responsiveness
   ========================================================================== */
   
@media screen and (max-width: 450px){
	.frame {
		padding: 15% 5%;
	}
}


