.name {
	margin-bottom: 50px;
}

.name img {
	height: auto;
	width: 100%;
}

.name-small {
	display: none;
}

.name-small img {
	height: auto;
	width: 70%;
	min-width: 320px;
}

.intro {
	margin-bottom: 50px;
}

.intro-action {
	margin-bottom: 110px;
}


/* ==========================================================================
   Responsiveness
   ========================================================================== */
   
@media screen and (max-width: 760px){
	.name {
		display: none;
	}
	.name-small {
		display: block;
		margin-bottom: 50px;
	}
	.rwd-break {
		display: none;
	}
}