.name {
	margin-bottom: 5%;
}

.intro {
	margin-bottom: 10%;
	line-height: 1.7;
}

.intro-action {
	margin-bottom: 20%;
}


/* ==========================================================================
   Responsiveness
   ========================================================================== */
   
@media screen and (max-width: 750px){
	.name {
		display: none;
	}
	.name-small {
		display: block;
		margin-bottom: 5%;
	}
	.intro {
  		white-space: normal;
	}
	.rwd-break {
		display: none;
	}
}

@media screen and (max-width: 550px){
  .intro {
		font-size: 20px;
		line-height: 30px;
		}
}

@media screen and (max-width: 350px){
  .name-small img {
  		width: 100%;
  		min-width: auto;
  }
}