nav {
	margin-bottom: 15%;
}

ul.nav {
	display: -webkit-flex;
	display: flex;
}

ul.nav li:first-child {
	margin-right: auto;
}

img.logo {
	margin-top: -5px;
}


/* ==========================================================================
   Responsiveness
   ========================================================================== */
   
@media screen and (max-width: 650px){
	img.logo {
		width: 90%;
	}
}
