nav {
	margin-bottom: 15%;
}

ul.nav {
	display: -webkit-flex;
	display: flex;
}

ul.nav li:first-child {
	margin-right: auto;
}

.logo {
	margin-top: -8%;
	transition: all 1s ease;
}


/* ==========================================================================
   Responsiveness
   ========================================================================== */
   
@media screen and (max-width: 650px){
	nav {
	  margin-bottom: 20%;
  }
	img.logo {
		width: 80%;
	}
}
