nav {
	margin-bottom: 15%;
}

ul.nav {
	display: -webkit-flex;
	display: flex;
}

ul.nav li:first-child {
	margin-right: auto;
}

.logo {
	margin-top: -5px;
	transition: all 1s ease;
}
/*
.logo:hover {
	filter: drop-shadow(0 0px 7px rgba(255,255,255,.4));
	transform: scale(1.03);
}


/* ==========================================================================
   Responsiveness
   ========================================================================== */
   
@media screen and (max-width: 650px){
	img.logo {
		width: 80%;
	}
}
