.project-cover {
	height: 100%;
	padding: 8%;
}

.el2030 {
	background: url("../imgs/projects/2030/splash.jpg") no-repeat;
	background-position: center;
	background-size: cover;
}

.adapt {
	background: url("../imgs/projects/adapt/splash.jpg") no-repeat;
	background-position: center;
	background-size: cover;
}

.catastrophe {
	background: url("../imgs/projects/catastrophe/splash.jpg") no-repeat;
	background-position: center;
	background-size: cover;
}

.creative-progress {
	background: url("../imgs/projects/creative-progress/splash.jpg") no-repeat;
	background-position: center;
	background-size: cover;
}

.eisenman {
	background: url("../imgs/projects/eisenman/splash.jpg") no-repeat;
	background-position: center;
	background-size: cover;
}

.glitch {
	background: url("../imgs/projects/glitch/splash.jpg") no-repeat;
	background-position: center;
	background-size: cover;
}

.kresgo {
	background: url("../imgs/projects/kresgo/splash.jpg") no-repeat;
	background-position: center;
	background-size: cover;
}

.halo {
	background: url("../imgs/projects/halo/splash.jpg") no-repeat;
	background-position: center;
	background-size: cover;
}

.road-less-traveled {
	background: url("../imgs/projects/road-less-traveled/splash.jpg") no-repeat;
	background-position: center;
	background-size: cover;
}

.spartahack {
	background: url("../imgs/projects/spartahack/splash.jpg") no-repeat;
	background-position: center top;
	background-size: cover;
}

.shc {
	background: url("../imgs/projects/shc/splash.jpg") no-repeat;
	background-position: center top;
	background-size: cover;
}

.spheres {
	background: url("../imgs/projects/spheres/splash.jpg") no-repeat;
	background-position: center top;
	background-size: cover;
}

.traveler {
	background: url("../imgs/projects/traveler/splash.jpg") no-repeat;
	background-position: center top;
	background-size: cover;
}

.uuraf {
	background: url("../imgs/projects/uuraf/splash.jpg") no-repeat;
	background-position: center top;
	background-size: cover;
}

.videno {
	background: url("../imgs/projects/videno/splash.jpg") no-repeat;
	background-position: center;
	background-size: cover;
}

