.project-frame {
	width: 120%;
	margin: 0 -10%;
	background: rgba(255, 255, 255, 1);
	position: relative;
}

.project-content {
	padding: 8%;
	color: #131D38;
}

.project-splash {
	background: url("../imgs/projects/kresgo/splash.jpg") no-repeat;
	background-size: cover;
	height: 100%;
	padding: 9%;
}

.project-splash.halo {
	background: url("../imgs/projects/halo/splash.jpg") no-repeat;
	background-size: cover;
	height: 100%;
	padding: 9%;
}

.project-splash h1, h2 {
	color: #131D38;
}

.white {
	color: #FFF;
}

.project-splash img {
	position: absolute;
	top: 0;
	width: 100%;
}

.project-image {
	margin: 10% 0;
	width: 100%;
	box-shadow: 0 20px 30px 0 rgba(19, 29, 56, .15);
}

.no-margin-top {
	margin-top: 0 !important;
}

.no-margin-bottom {
	margin-bottom: 0 !important;
}

.lightbox {
	background: rgba(14,21,41,0.9);
	bottom: 0;
	display: none;
	height: 100%;
	left: 0;
	overflow-y: scroll;
	position: fixed;
	right: 0;
	text-align: center;
	top: 0;
	width: 100%;
	 -webkit-overflow-scrolling: touch;
	z-index: 999;
}

.lightbox img {
	margin: 2%;
	width: 96%;
}

.lightbox:target {
	display: block;
	outline: none;
}

.video-wrapper {
	position: relative;
	padding: 0 0 58% 0;
	height: 0;
}

iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}