.project-frame {
	color: #131D38;
	width: 120%;
	margin: 0 -10% 20%;
	background: rgba(255, 255, 255, 1);
	position: relative;
}

.project-content {
	padding: 4% 8%;
}

.project-content h2 {
	margin: 5% 0 -4%;
}

.project-content p {
	margin: 5% 0;
}

a.link-inline {
	border-bottom: 2px solid transparent;
	color: #FF3377;
	padding: 3px;
	transition: all .2s ease;
}

a.link-inline:hover {
	border-bottom: 2px solid #FF3377;
	padding-bottom: 3px;
}

.white {
	color: #FFF;
}

.no-top {
	margin-top: 0 !important;
}

.project-content img {
	box-shadow: 0 20px 30px 0 rgba(19, 29, 56, .15);
	margin: 5% 0;
	width: 100%;
}

.no-shadow {
	box-shadow: none !important;
}

.lightbox {
	background: rgba(14,21,41,0.9);
	bottom: 0;
	display: none;
	height: 100%;
	left: 0;
	overflow-y: scroll;
	position: fixed;
	right: 0;
	text-align: center;
	top: 0;
	width: 100%;
	 -webkit-overflow-scrolling: touch;
	z-index: 999;
}

.lightbox img {
	margin: 2%;
	width: 96%;
}

.lightbox:target {
	display: block;
	outline: none;
}

.video-wrapper {
	height: 0;
	margin: 5% 0;
	position: relative;
	padding: 0 0 58% 0;
}

iframe {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}


/* ==========================================================================
   Responsiveness
   ========================================================================== */
   
@media screen and (max-width: 450px){
	.project-frame {
		margin: 0 0 20% 0;
		width: 100%;
	}
}
