.tiles {
	margin: -1% -1% 140px -1%;
}

.tiles ul {
	display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    width: 100%;
}

.tile {
	background-color: #131D38;
	box-shadow: 0 10px 20px 0 rgba(0,0,0,.2);
	margin: 1%;
	position: relative;
	transition: all .2s ease-out;
	width: 31.33%;
	z-index: 1;
}

.tile:hover {
	box-shadow: 0 20px 40px 0 rgba(0,0,0,.4);
	transform: scale(1.1,1.1);
	z-index: 2;
}

.tile a {
	display: block;
}

.overlay {
	background-color: rgba(15,22,43,1);
	border: 1px solid rgba(15,22,43,1);
	height: 100%;
	mix-blend-mode: color;
	position: absolute;
	transition: all .2s ease-out;
	width: 100%;
}

.overlay:hover{
	background-color: rgba(15,22,43,0);
	border: none;
}

.tile img {
	width: 100%;
}

.view-all-work {
	align-items: center;
	display: flex;
	justify-content: center;
	padding: 1%;
	width: 31.333%;
}

.view-all-work a {
	margin: 0;
}


/* ==========================================================================
   Responsiveness
   ========================================================================== */

@media screen and (max-width: 600px){
	.tile {
		width: 48%;
	}
	
	.tile:hover {
		transform: scale(1.05,1.05);
	}
	
	.view-all-work {
		width: 48%;
	}
}