.blob-frame {
	overflow: hidden;
	height: 100%;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	-webkit-backface-visibility: hidden;
}

.blob {
	opacity: .5;
	position: absolute;
	left: -100vw;
		background: 	linear-gradient(to bottom, rgba(70,27,112,1) 0%,rgba(27,42,112,1) 100%);
	width: 150vw;
	height: 150vw;
	border-radius: 43%;
	animation: blob 25s infinite linear;
	z-index: -1;
	overflow: hidden;
    will-change: transform;
    transition: all 1s ease;
}

.blob.-two {
	opacity: 1;

  animation: blob 25s infinite linear;
  width: 142vw;
  height: 142vw;
    
}

@keyframes blob {
	to { transform: rotate(0deg) translateZ(0) rotateZ(360deg); }
	from { transform: rotate(360deg) translateZ(0) rotateZ(360deg); }
}


/* ==========================================================================
   Responsiveness
   ========================================================================== */
   
@media screen and (max-width: 650px){
	.blob {
		width: 200vw;
		height: 200vw;
		left: -150vw;
	}
	.blob.-two{
		width: 192vw;
		height: 192vw;
	}
}