nav {
	margin-bottom: 10%;
}

ul.nav {
	display: -webkit-flex;
	display: flex;
}

ul.nav li:first-child {
	margin-right: auto;
}

.logo {
	margin-top: 5px;
	transition: all 1s ease;
}


/* ==========================================================================
   Responsiveness
   ========================================================================== */
   
@media screen and (max-width: 650px){
	img.logo {
		width: 80%;
	}
}
