.design-single-splash {
   background: url(../../img/UURAF/UURAF-Splash.jpg) no-repeat center top;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   box-shadow: inset 0 -1px 5px rgba(0, 0, 0, .1);
 }

.design-single-style {
   background: #073256;
}

.design-single-bg {
  background: url(../../img/AODL/AODL-BG.jpg);
  background-size: cover;
  padding: 10% 0;
}

/*Title*/
.design-single-style h4{
   color: #FFF;
}

/*Project Type*/
.design-single-style h4 span{
   color: #FFF;
}

/*Year*/
.design-single-style h5{
   color: #FFF;
}

/*Text Content Header*/
.design-single-style h3{
  color: #FFF;
}

/*Text Content*/
.design-single-style p{
   color: rgba(255, 255, 255, .6);
}

/*Text Content Accentuated*/
.design-single-style p span{
   color: rgba(255, 255, 255, 1);
}

/*Text Content Link*/
.design-single-style a {
   color: #F7CF32;
}

.design-single-style a:hover {
   color: #D6AB22;
}

/*Video Wrapper*/
.vidwrap {
  background: url(../../img/AODL/AODL-BG.jpg);
  background-size: cover;
  padding: 10% 0;
}

.videoWrapper {
	position: relative;
	padding: 0 0 58% 0;
	height: 0;
   margin: 0 10%;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
